# ===========================================
# Node.js
# ===========================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===========================================
# Arquivos de ambiente
# ===========================================
.env

# ===========================================
# VSCode e editores
# ===========================================
.vscode/
*.code-workspace

# ===========================================
# Sistemas operacionais
# ===========================================
.DS_Store
Thumbs.db
ehthumbs.db
*.swp
*.swo

# ===========================================
# Builds ou testes (caso use futuramente)
# ===========================================
dist/
build/
coverage/

# ===========================================
# Arquivos locais ou temporários
# ===========================================
*.local
