/* Fundo do formulário */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.back {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container do formulário */
.container {
  background-color: #fafafa;
  border-radius: 0.6875rem;
  box-shadow: 0 0.1375rem 0.34375rem rgba(0, 0, 0, 0.3);
  width: 34.375rem;
  max-width: 100%;
  overflow: hidden;
  margin: 30px;
}
.containerHeader {
  background-color: rgba(225, 227, 233, 1);
  padding: 1.375rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Conteúdo do Formulário */
.form {
  padding: 1.375rem;
}
.form-control {
  padding-bottom: 1.71875rem;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 0.34375rem;
  font-weight: 600;
}

.form-control input {
  border: 0.1375rem solid #f0f0f0;
  display: block;
  border-radius: 0.6875rem;
  font-size: 0.9625rem;
  width: 100%;
  padding: 0.825rem;
}
input[type="date"] {
  color: #000000ff;
}
input::placeholder {
  color: #000000ff;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control select {
  border: 0.1375rem solid #f0f0f0;
  display: block;
  border-radius: 0.6875rem;
  font-size: 0.9625rem;
  width: 100%;
  padding: 0.825rem;
  color: #000000ff;
}

.form-control-days {
  justify-content: space-around;
  padding-bottom: 1.375rem;
  text-align: center;
  font-weight: 450;
  display: none;
}

/* Mensagem de erro */
.form-control small {
  position: absolute;
  bottom: 0.34375rem;
  left: 0;
  font-size: 0.825rem;
  visibility: hidden;
}

/* Botões */
.form button {
  background-color: rgba(2, 39, 109, 0.6);
  color: #fff;
  font-size: 1.375rem;
  border-radius: 0.6875rem;
  border: none;
  padding: 1.03125rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.form button:hover {
  background-color: rgba(48, 88, 161, 0.6);
}
.buttons {
  display: flex;
  justify-content: space-around;
}

/* Validação do input */
.form-control.success input,
.form-control.success select {
  border-color: #2ecc71;
}

.form-control.error input,
.form-control.error select {
  border-color: #e74c3c;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

/* Checkbox*/
.form-control-status {
  display: flex;
  gap: 0.34375rem;
  padding-bottom: 1.71875rem;
}

/* Classe para tornar um componente invisível */
.invisible {
  display: none;
}
