* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 17.6px;
}

body {
  background-color: rgba(239, 239, 239, 1);
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: rgba(2, 39, 109, 0.6);
  box-shadow: 0 0.275rem 0.275rem rgba(18, 19, 26, 0.25);
}
.contentNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6875rem 2.0625rem;
  color: white;
  flex-wrap: wrap;
}
.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentNav h1 {
  font-size: clamp(1.925rem, 2.75vw, 2.42rem);
  text-align: center;
}
.contentNav small {
  font-size: clamp(0.9625rem, 1.65vw, 1.1rem);
  text-align: center;
  margin-top: -0.34375rem;
}

/* Conteúdo da página */
.content {
  padding: 1.65rem;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.1rem;
  margin-right: 2.0625rem;
}

/* Tabela */
.gridRow {
  display: grid;
  grid-template-columns: 4fr 1.5fr 1fr 1fr 1fr 1.5fr 1fr;
  align-items: center;
  gap: 0.6875rem;
  padding-left: 0.34375rem;
}
.tableHeader {
  background-color: rgba(225, 227, 233, 1);
  font-weight: 600;
  margin-top: 0.6875rem;
  border-bottom: 0.1375rem solid #ccc;
  height: 3.4375rem;
  border-top-left-radius: 0.6875rem;
  border-top-right-radius: 0.6875rem;
  padding: 0.34375rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Item da tabela (funcionário) */
.Item {
  background-color: white;
  border-bottom: 1px solid #ccc;
  min-height: 2.75rem;
  padding: 0.34375rem;
  transition: background-color 0.3s;
}
.textName {
  max-width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.Item:not(.ItemSelected):hover {
  background-color: rgba(240, 240, 240, 1);
}
.ItemSelected {
  background-color: rgba(197, 211, 236, 0.6);
}

/* Mensagem quando não há item na tabela */
.AlertMessage {
  width: 100%;
  text-align: center;
  padding: 4.125rem;
  font-size: 2.0625rem;
  color: rgba(2, 39, 109, 0.6);
}
.iconAlert {
  font-size: 10.3125rem;
  margin-bottom: 1.03125rem;
  cursor: pointer;
}

/* Classe para cada status */
.ferias,
.semAgendamento,
.agendado,
.finalizado {
  color: white;
  border-radius: 3.4375rem;
  text-align: center;
  padding: 0.22rem 0.55rem;
  font-size: 0.9625rem;
}
.ferias {
  background-color: #a8c686;
  width: 4.125rem;
}
.semAgendamento {
  background-color: #4d4d4dff;
  width: 10.65625rem;
}
.agendado {
  background-color: #8daac1;
  width: 6.1875rem;
}
.finalizado {
  background-color: #e4d552ff;
  width: 9.96875rem;
}

/* Botões */
.btnEdit {
  margin-left: auto;
  margin-right: 5.5rem;
  color: rgba(2, 39, 109, 0.6);
  cursor: pointer;
}

.btnAddForm {
  border: none;
  border-radius: 1.03125rem;
  color: white;
  width: 2.75rem;
  background-color: rgba(2, 39, 109, 0.6);
  transition: background-color 0.3s;
  font-size: 0.9625rem;
  padding: 0.44rem;
  margin-right: 2.2rem;
  cursor: pointer;
}
.btnAddForm:hover {
  background-color: rgba(48, 88, 161, 0.6);
}

.export {
  border: none;
  border-radius: 0.6875rem;
  background-color: rgba(2, 39, 109, 0.6);
  transition: background-color 0.3s;
  color: white;
  font-size: 0.9625rem;
  height: 2.40625rem;
  padding: 0.44rem;
  cursor: pointer;
}

.export:hover {
  background-color: rgba(48, 88, 161, 0.6);
}

/* Ícone do filtro */
.sort {
  border: none;
  background-color: rgba(225, 227, 233, 1);
  cursor: pointer;
  transition: background-color 0.3s;
}
.sort:hover {
  color: rgba(2, 39, 109, 0.6);
}
.sort:disabled:hover {
  color: #a5a5a5ff;
}
.sortClicked {
  border: none;
  background-color: rgba(225, 227, 233, 1);
  color: rgba(2, 39, 109, 0.6);
  cursor: pointer;
}

/* Ícone do delete */
.remove {
  font-size: 1.03125rem;
  border: none;
  background-color: rgba(225, 227, 233, 1);
  cursor: pointer;
  transition: background-color 0.3s;
}
.remove:hover {
  color: rgba(2, 39, 109, 0.6);
}

/* Classe para tornar um componente invisível */
.invisible {
  display: none;
}
